{% extends 'layout.html' %}


{% block content%}

<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center">{{res}}</p>
            <div class="comment-form">
                <h4>Post a comment</h4>
                <form action="">
                    <div><textarea name="addcomment" id="" class="form-control"></textarea></div>
                    <button class="btn btn-danger mt-3">Add Comment</button>
                </form>
            </div>
            {% for r in res %}
            <div class="comments-box">
                <p>{{r.text}}</p>
                <div class="children">
                    <p>{{r.date}}</p>
                    <div class="vert-line"></div>
                    <p>{{r.author}}</p>
                    <div class="vert-line"></div>
                    <p>{{r.parent}}</p>
                    <p><a href="/user/replycomments">Reply</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content%}