{% extends 'layout.html' %}


{% block content%}

{{resp}}
<div class="mycontainer">
    <div class="e__navbar-input">
        <h2>filter</h2>
        <div><label for="">Search for a text</label><input id="search" type="text" placeholder="Search.." name="search" class="form-control"></div><br>
        <label for="">Filter by Type</label>
        <select name="" id="" class="form-control">
            <option value="">Choose an option</option>
            <option value="job">Job</option>
            <option value="story">Story</option>
            <option value="comment">Comment</option>
        </select>
    </div>
    <div class="news-body">
        <div class="news-content">
            <h3><a href="url">Title of a new post should be this long I suppose or may be double this or triple who cares, styling does</a></h3>
            <p>text is simply a catchy subject line or longer than that</p>
            <div class="children">
                <p>author</p>
                <div class="vert-line"></div>
                <p>datetime</p>
                <div class="vert-line"></div>
                <!-- <p><a href="/user/comments/{{id}}">Comments</a></p> -->
                <p><a href="/user/comments">Comments</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}