{% extends 'layout.html' %}


{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="comment-form">
                <h4>Post a comment</h4>
                <form action="">
                    <div><textarea name="addcomment" id="" class="form-control"></textarea></div>
                    <button class="btn btn-danger mt-3">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}