{% extends 'layout.html' %}


{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="makepost">
                <h4>Submit a job or story</h4>
                <form action="">
                    <div>
                        <label for="">Type</label>
                        <select name="type" id="" class="form-control">
                            <option value="">Select a type</option>
                            <option value="job">Job</option>
                            <option value="story">Story</option>
                        </select>
                    </div><br>
                    <div><label for="" class="mt-2">Title</label><input type="text" name="title" class="form-control"></div>
                    <div><label for="" class="mt-2">Author</label><input type="text" name="author" class="form-control"></div>
                    <div><label for="" class="mt-2">Url</label><input type="text" name="url" class="form-control"></div>
                    <div><label for="" class="mt-2">Text <span class="text-danger">(optional)</span></label><textarea name="text" class="form-control"></textarea></div>
                    <button class="btn btn-danger mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}




 